.btn {
    -fx-padding: 20px;
    -fx-alignment: center;
    -fx-background-color: black;
    -fx-text-fill: white;
}

.menu-bar{
    -fx-border-color: grey;
    -fx-border-width: 0.5;
}

.tab {
    -fx-padding: 10 20;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-text-alignment: center;
    -fx-border-color: grey;
    -fx-border-width: 0.5;
}
.tab:hover{
    -fx-background-color: #cbbf9e;
    -fx-text-fill: white;
}